doctype html
html
	head
		title= title
		block css
			include extras/css
	body
		if user
			a(href="/u/") U
			br
			a(href="/") Projects
			|  // 
			a(href="/new/") New Project
			br
			a(href="/statuses/") Statuses
			|  // 
			a(href="/statuses/new/") New Status
			br
		block content
		block js
			include extras/js
