extends layout

block content
	h1 New Project

	form(action="/projects/new/", method="post", class="project-form")
		label Name:
		input(type="text", name="name")
		label Slug:
		input(type="text", name="slug")
		label Start Date:
		input(type="date", name="startDate")
		label End Date:
		input(type="date", name="endDate")
		label Status:
		input(type="text", name="status")
		label Tags:
		input(type="text", name="tags")
		label Project URL:
		input(type="text", name="projectURL")
		label Source URL:
		input(type="text", name="sourceURL")
		button(type=submit) Submit