extends layout

block content
	h1= subtitle
	div.statuses
		ul.status-list
			each status in statuses
				li
					a( href="/?status=" + encodeURIComponent(status.name.toLowerCase().trim()), class="status-tag-" + status.color).tag.status-list-tag #{status.name }
					a(href="/statuses/" + encodeURIComponent(status.name.toLowerCase().trim()) + "/").admin-link ✂️ Edit
					a(href="/statuses/" + encodeURIComponent(status.name.toLowerCase().trim()) + "/delete").delete.admin-link  Delete
