extends layout

block content
	h1= subtitle
	div.statuses
		ul.status-list
			each status in statuses
				li
					a( href="/?status=" + status.name, class="status-tag-" + status.color).tag.status-list-tag #{status.name }
					a(href="/statuses/" + status.name + "/").admin-link âœ‚ï¸ Edit
					a(href="/statuses/" + status.name + "/delete").delete.admin-link  Delete

		

