/* Global */

* {
	box-sizing: border-box;

}

body {
	font-family: "Arial", sans-serif;
  padding: 10px 20px;
  margin: 0;
  font-size: 150%;
}

a {
  color: #3F7FEF;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h3 {
	margin: .25em 0;
}

.hidden {
	display: none;
}

.page-header {
	width: 98%;
	max-width: 1000px;
	margin: 0 auto;
}

.page-header h1 {
	margin-bottom: 0;
}

#filter {
	display: none;
	background-color: #DFDFDF;
	padding: .5em .5em;
}

#filter li {
	display: inline-block;
}

#filter-toggle {
	color: #00C0FF;
	text-decoration: none;
	font-size: 75%;
	cursor: pointer;
	line-height: 1em;
	display: inline-block;
}

.tag {
	display: inline-block;
	border: 1px solid black;
	margin: .15em .3em .15em 0;
	padding: .15em;
	text-decoration: none;
	border-radius: 3px;
	color: #000000;
}

#main-header {
	text-align: center;
	text-decoration: none;
	color: black;
}

#main-header h1 {
	margin: 0;
}

.projects ul.project-list, .project-view-project-content, #navigation {
	width: 98%;
	max-width: 1000px;
	margin: 0 auto;
}

/* Projects */

.list-project {
	margin: 1em 3% 1.5em;
}

.list-project div {
	display: inline-block;
	vertical-align:top;
}

li.list {
	margin: .5em 0;
}



.project-info {
	width: 48%;
}

.project-cover {
	width: 48%;
	margin: 0 0 0 4%;
}

.project-cover img {
	width: auto;
	max-height: 15em;
	max-width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.description div p:first-child {
	margin-top: 0;
}

.description ul {
	padding: 0 0 0 1em;
}
.description li {
	list-style-type: circle;

}


/* Project */

.page-header h2 {
	margin: 0;
}

.project-view-project-content h1 {
}

.project-view-project-content img {
	margin: 0 auto;
	text-align: center;
}

.project-view-project-cover {
	max-height: 10em;
	max-width: 100%;
}

.image-list {
	display: inline-block;
	width: 33.33%;
	padding: 1em;
	text-align: center;
}

.image-list a{
}

/* different for below 480px */
.project-image {
	max-width: 100%;
	vertical-align:top;
	max-height: 15em;
	width: auto;

}


/* Image */

.full-image {
	max-width: 100%;
	margin: 1em 0;
}

/* Statuses */

.status-tag {
	/* CSS inline */
}


/* Error */

.error {
	width: 50%;
	margin: 3em auto;
	text-align: center;
}

.error h1, .error h2{
	font-size: 400%;
}

.error pre {
	text-align: left;
}

/* Admin */
input, textarea, select{
	display: block;
	margin: .25em;
	font-size: 150%;
}

select {
	width: auto;
	padding: .5em;
}

textarea {
	width: 100%;
}

label {
	margin: .25em;
}

.delete {
	color: #DF6F3F;
}

.order-image {
	display: block;
	margin: 2em;
}

.order-image img {
	max-width: 400px;
}

.color-demo {
	width: 100px;
	height: 100px;
	/* Background color is inline in css.jade view */
}

ul.project-admin-links li {
	margin: .2em 0;
}

ul.admin-image-details {
	text-align: left;
}

ul.admin-image-details li {
	display: block;
}

.project-form {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
}


/* Error: */

.error {
	font-size: 50%;
}

@media (max-width: 960px) {

	/* Global */

	body {
		font-size: 125%;
	}



	/* Projects */
	.project-image {
		max-width: 95%;
	}

	.project-info {
	width: 100%;
}

.project-cover {
	width: 100%;
	margin: 0 0 0 0;
}

	/* Project */


	/* Admin */
}
